/*=======================================================
	General Styles
=======================================================*/
.avn-price-table{
	position:relative;
	margin-bottom:40px;
}
.avn-price-table > .items > ul{
	list-style:none;
}
a.avn-btn{
	text-decoration:none;
}
.avn-btn{
	padding:12px 25px;
	background:#F0F0F0;
	border:none;
	display:inline-block;
	*display:inline;
	*zoom:1;
	white-space:nowrap;
}
.avn-btn > span{
	margin:0 5px;
}
/*=======================================================
	Style14
=======================================================*/
.avn-price-table.avn-style14{
	
	border:solid 2px #336699;
	border-radius:10px;
	-webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 4px 4px 0 rgba(0,0,0,.1);
	box-shadow: 4px 4px 0 rgba(0,0,0,.1);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	line-height: 1;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}
.avn-price-table.avn-style14:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}
.avn-price-table.avn-style14 .header{
	text-align:center;
	border-radius:7px 0 0 7px;
	background:#336699;
	color:#FFF;
	-webkit-box-shadow: 4px 0 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: 4px 0 0 0 rgba(0,0,0,.1);
	box-shadow: 4px 0 0 0 rgba(0,0,0,.1);
	height: 100%;
	margin-top: 20px;
	padding-top:5px
}
.avn-price-table.avn-style14 .header > .package{
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:18px;
	/* margin:0; */
	margin-bottom:15px;
	
}
.avn-price-table.avn-style14 .header > .price > *{
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:1em;
}
.avn-price-table.avn-style14 .header > .price > .currency{
	vertical-align:top;
	position:relative;
	top:10px;
}
.avn-price-table.avn-style14 .header > .price > .amount{
	font-size:60px;
}
.avn-price-table.avn-style14 .header > .price > .period{
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:11px;
	opacity:.8;
	
}
.avn-price-table.avn-style14 .items > ul{
	margin:0;
	list-style:none;
	padding-top:25px;
	margin-top: 20px;
	margin-left: -20px;
}
.avn-price-table.avn-style14 .items > ul:before,
.avn-price-table.avn-style14 .items > ul:after{
	content: ' ';
	display:table;
}
.avn-price-table.avn-style14 .items > ul:after{
	clear:both;
} 
.avn-price-table.avn-style14 .items > ul > li{
	    /* padding: 10px 0; */
    /* padding-top: 10px; */
    /* margin-bottom: 10px; */
    margin-top: 10px;
    /* padding-bottom: 10px; */
    line-height: 1.15;
} 

.avn-price-table.avn-style14 .items > ul > li > i{
	margin-right: 5px;
    font-size: 15px;
    color: #EC6952;
}
.avn-price-table.avn-style14 .avn-btn-main{
	/* padding:40px 30px; */
	margin-right: 40px;
    margin-left: 10px;
    margin-top: 55px;
}
.avn-price-table.avn-style14 .avn-btn{
	display:block;
	margin-bottom:15px;
	border:solid 2px #EC6952;
	color:#EC6952;
	background:#FFF;
	text-align:center;
	-webkit-box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	border-radius:3px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.avn-price-table.avn-style14 .avn-btn > i{
	margin-right:5px;
}
.avn-price-table.avn-style14 .avn-btn:hover{
	color:#FFF !important;
	background:#e74c3c;
}
.avn-price-table.avn-style14 .avn-tagline{
	font-size:12px;
	color:#777;
	margin:0;
	text-align: center;
}

@media(max-width:992px){
	
	.avn-price-table.avn-style14 .header:after{
		height:10px;
		bottom:-10px;
		left:0;
		right:0;
		width:100%;
		top:auto;
		background-position:bottom;
		background-size:20px 40px;
	}
	.avn-price-table.avn-style14 .items{
		margin:40px 0;
		margin-left: 20px;
		margin-right: 20px;
	}
	.avn-price-table.avn-style14 .items > ul{
		padding:0;
	}
	.avn-price-table.avn-style14 .items > ul > li{
		width:100%;
		float:none;
		padding:15px 0;
	}
	.avn-price-table.avn-style14{
		text-align:center;
	}
	.avn-price-table.avn-style14 .header{
		border-radius: 7px 7px 0 0;
		-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,.1);
		-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,.1);
		box-shadow: 0 4px 0 0 rgba(0,0,0,.1);
	}
	.avn-price-table.avn-style14 .avn-btn-main{  
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.avn-price-table.avn-style14 .avn-btn-main > .avn-btn{
		display:inline-block;
		*display:inline;
		*zoom:1;
	}	
	
}
.avn-price-table.color-orange.avn-style14 .avn-btn,
.avn-price-table.color-orange.avn-style14{
	border-color:#f39c12;
}

.avn-price-table.color-orange.avn-style14 .avn-btn:hover,
.avn-price-table.color-orange.avn-style14 .header{
	background:#f39c12;
}

.avn-price-table.color-orange.avn-style14 .avn-btn{
	color:#f39c12;
}


