
.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.file-tree > .panel-body {
    padding: 0;
}

.file-tree > .panel-body > .table {
    margin: 0;
}

.file-tree > .panel-body > .table a {
    cursor: pointer;
}

#collapse-file-list {
    cursor: pointer;
}
