
.file-tree > .panel-heading > .breadcrumb {
    margin: 0;
}

.file-tree > .panel-body {
    padding: 0;
}

.file-tree > .panel-body > .table {
    margin: 0;
}

.file-tree > .panel-body > .table a {
    cursor: pointer;
}