@CHARSET "UTF-8";

body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.mastfoot {
	color: #999; /* IE8 proofing */
	color: rgba(20, 20, 20, .5);
	text-align: center;
}

.inner {
	padding: 30px;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
	border-color: #337ab7;
}

body {
	background: url("../img/nav.png") no-repeat center 0
}

.navbar>.container>.navbar-header>.navbar-brand {
	font-family: inherit;
	color: #eee;
}

.navbar>.container>.navbar-header>.navbar-brand:hover {
	color: #fff;
}

.dropdown-toggle {
	color: #eee;
}

.dropdown-toggle:hover {
	color: #fff;
}

.dropdown-toggle:focus, .dropdown-toggle:hover {
	color: #fff;
}

.badge {
	padding: 2px 4px;
	margin-left: 3px;
}

.row-eq-height {
	display: flex;
}

.scaleable:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}