.btn:focus{
	color:#347ABF ;
}
.btn:hover{
	color:#FFF ;
	background:#347ABF;
}

.btn.btn-success{
	color:#FFF !important;
	background:#e74c3c;
	border:#e74c3c;
}

.btn{
	margin:0 5px;
	 display:block;
	margin-bottom:15px;
	border:solid 2px #347ABF; 
	color:#EC6952;
	background:#FFF;
	text-align:center;
	-webkit-box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	box-shadow: 3px 3px 0 rgba(0,0,0,.1);
	border-radius:3px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
		display:inline-block;
		*display:inline;
		*zoom:1;
	color:#347ABF
}