@CHARSET "UTF-8";
body {
  padding-top: 50px;
  padding-bottom: 0px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(20,20,20,.5);
  text-align: center;
}
.inner {
  padding: 30px;
}


.navbar{
		/*   background-color: #6699cc; 
		  color:#fff; */
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: #337ab7;
}