<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>verify the login info(/login), handle the logout operation(/logout)</description>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>create new task</description>
    <display-name>CreateTaskServlet</display-name>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>servlet.CreateTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/CreateTaskServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description>invite one or several reviewers</description>
    <display-name>InviteServlet</display-name>
    <servlet-name>InviteServlet</servlet-name>
    <servlet-class>servlet.InviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteServlet</servlet-name>
    <url-pattern>/InviteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>search usernames by keywords</description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>register or sign up</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CRCFilter</display-name>
    <filter-name>CRCFilter</filter-name>
    <filter-class>filter.CRCFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CRCFilter</filter-name>
    <url-pattern>/My CRC.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description>refuse invitation from others</description>
    <display-name>RefuseServlet</display-name>
    <servlet-name>RefuseServlet</servlet-name>
    <servlet-class>servlet.RefuseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseServlet</servlet-name>
    <url-pattern>/RefuseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>commit report</description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TaskFilter</display-name>
    <filter-name>TaskFilter</filter-name>
    <filter-class>filter.TaskFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TaskFilter</filter-name>
    <url-pattern>/tasks.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MergeServlet</display-name>
    <servlet-name>MergeServlet</servlet-name>
    <servlet-class>servlet.MergeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MergeServlet</servlet-name>
    <url-pattern>/MergeServlet</url-pattern>
  </servlet-mapping>
</web-app>